
/* ///////////////////// */

.overlay-slide_R_to_L {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slide_R_to_L.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}
.head-title {
    height: 100px;
    display: flex;
    padding: 0px 5%;
    padding-top: var(--space_top);
    font-size: var(--normal);
}