@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}

.main_login {
    width: 100%;
    height: 100dvh;
    background-color: rgb(255, 255, 255);

}

.container-logo {
    width: auto;
    margin: 0 auto;
}

.bt-select {
    width: 100%;
    height: 13dvh;
    padding-bottom: 15px;
}

.container-personal_record {
    width: 100%;
    height: 62dvh;
    background-color: rgb(255, 255, 255);
}
.custom_picture1{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 40px;
    border: 1.5px solid black;
}
.custom_picture__image1{
    height: 100%;
    width: 100%;
}
.custom_picture1{
    position: relative;
}
.custom_picture__image1 img{
    width: 100%;
    height: 100%;
}
.custom_img_pic1{
    position: absolute;
}
.bt-register {
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}
.padding-horizontal--49{
    padding: 22px;
    overflow-y: scroll;
    padding: 0 15px 0 15px;
}
.bt-con-select {
    width: 80%;
    height: 7dvh;
    background-color: #7C00A8;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt-con-select p {
    color: #ffffff;
}

.overlay_login1 {
    width: 100%;
    height: 100%;
    bottom: 0vh;
    left: 0;
    top: 0;
    background-color: #EDEEF2;
}


/* .login-icon {
    padding-top: 50px;
} */

/* .padding-24 {
    padding-top: 24px;
}
.padding-10 {
    padding-top: 10px;
} */


.field input {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 15px;
    box-shadow:
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}

.padding-horizontal--48 {
    padding: 22px;
    overflow-y: scroll;
    padding: 0 15px 0 15px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
    padding-top: 10px;
}

.reset_pass1 {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 600;
    display: block;
    color: #0094FF;
}
.overlay-slide_R_to_L {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out, max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slide_R_to_L.open {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

  
  
.brtop {
    margin-bottom: 4px;
    display: inline-block;
}

.login-icon {
    width: 34%;
    /* border-radius: 40%; */
    height: auto;
    padding-top: 10px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.overlay_register,
.overlay_pass,
.overlay_img,
.overlay_edit,
.overlay_supp,
.overlay_personal,
.overlay_editemail,
.overlay_passedit, 
.overlay_updatapass
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: #ffffff
}

.overlay_register.open,
.overlay_pass.open,
.overlay_img.open,
.overlay_edit.open,
.overlay_supp.open,
.overlay_personal.open,
.overlay_editemail.open,
.overlay_passedit.open, 
.overlay_updatapass.open
{
    display: flex;
    flex-direction: column;
}

.container-scan {
    /* width: 38dvh;  */
    height: 38dvh; 
    display: flex; 
    /* align-items: center;  */
    justify-content: center;
}


.container-profile {
    width: 100%;
    height: 120px;
    padding-bottom: 5px;
    background: rgb(124, 0, 168);
    background: linear-gradient(180deg, rgba(124, 0, 168, 0.92) 64%, rgba(75, 0, 187, 1) 98%, rgba(39, 2, 186, 1) 100%);
    display: flex;
    justify-content: center;
    border-radius: 0 0 30px 30px;
}

.detall-profile {
    background-color: #D2AFFF;
    width: 90%;
    height: auto;
    border-radius: 30px;
    display: flex;
}
.img-menu3,.img-menu2,.img-menu1,.img-menu{
    width: 100%;
    height: 70%;
}
.img-menu > img , .img-menu1 > img ,.img-menu2 > img , .img-menu3 > img {
    width: auto;
    height: 100%;
}
.container-menu {
    height: 55dvh;
    width: 50dvh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    justify-content: space-between;
    gap: 10px
}

.img_scan1 {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.img_scan1 {
    width: 100%;
    height: 80%;
    padding-top: 5px;
}
.img_scan1 > img {
    width: auto;
    height: 100%;
    padding: 5px;
}
.menu-item, .menu-item1 ,.menu-item2, .menu-item3 {
    background-color: #EDEDFC;
    border-radius: 17px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    color: #8A2FFF;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #8A2FFF;
    
}

.menu-all-font {
    font-weight: bold;
    color: rgba(138, 47, 255, 1);
    font-size: 20px;

}

.menu-all-font-2 {
    font-weight: bold;
    color: rgba(138, 47, 255, 1);
    font-size: 18px;

}

.menu-all-font-3 {
    font-weight: bold;
    color: rgba(138, 47, 255, 1);
    font-size: 14px;

}

.menu-pic-size {
    height: 60px;
    width: 60px;
}

.pic-profile-menu {
    width: 30%;
    height: 100%;
    background-color: #D2AFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;

}

.detall-profile-pf {
    color: #ffffff;
    width: 70%;
    height: 100%;
    padding: 15px 5px;
    overflow: scroll;
}

.pic-profile {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/logo1.png'); /* Replace with the path to your image */
    background-size: cover; /* Adjust as needed */
    background-color: #fff;

}
.pic-profile img{
    width: 100%;
    height: 100%;
}

.container_menu {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    flex-direction: column;
    align-items: center;
}

.scanblue {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #8A2FFF;
    border: 2px solid #028EBA;
}
/* .scanblue {
    width: 100px;
    height: 70%;
    background-color: #8A2FFF;
    border: 2px solid #028EBA;
    border-radius: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.scanblue1 {
    width: 115px; background-color: #8A2FFF; 
    height: 115px; 
    border: 2px solid #028EBA; 
    border-radius: 76px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    position: relative;
}
.text_scan {
 color: white;
}


#overlay {
    position: fixed;
    top: 0;
    left: -100%;
    /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: left 0.3s ease;
    /* Add transition for smooth animation */
    z-index: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* text-align: center; */
    width: 80%;
    height: 100%;
    border-radius: 0 25px 25px 0;
}

.con-pic-profile-show {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}

.detall-profile-show {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-profile-show {
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(124, 0, 168, 0.92) 64%, rgba(75, 0, 187, 1) 98%, rgba(39, 2, 186, 1) 100%);
    display: flex;
    border-radius: 0 25px 0 0;
}

.pic-profile-show {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 22%;
    border-radius: 50px;
    background-image: url('/img/logo1.png'); /* Replace with the path to your image */
    background-size: cover;
    background-color: #fff; 
}
.pic-profile-show img{
    width: 100%;
    height: 100%;
}
.pic-profile1 img{
    width: 100%;
    height: 100%;
}
#imgcartt img{
    width: 100%;
    height: 100%;
}

.detall-profile_IN {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
}

.selection-container {
    margin: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
}
#img-picdr img{
    width: 100%;
    height: 100%;
}
.container-profile_personal {
    width: 0 15px 0 15px;
    height: 80dvh;
    background: rgb(124, 0, 168);
    background: linear-gradient(180deg, rgba(124, 0, 168, 0.92) 64%, rgba(75, 0, 187, 1) 98%, rgba(39, 2, 186, 1) 100%);
    /* display: flex;
    justify-content: center; */
    border-radius: 50px;
    margin: 60px 5px 10px 5px;
    border: 3px solid #C7C7C7;

}
.container-profile_personal {
    width: 0 15px 0 15px;
    height: 80dvh;
    background: rgb(124, 0, 168);
    background: linear-gradient(180deg, rgba(124, 0, 168, 0.92) 64%, rgba(75, 0, 187, 1) 98%, rgba(39, 2, 186, 1) 100%);
    /* display: flex;
    justify-content: center; */
    border-radius: 50px;
    margin: 60px 5px 10px 5px;
    border: 3px solid #C7C7C7;

}

.detall-profile-per {
    padding: 15px;
    
    /* padding-top: 32px; */
}

.detall-profile_personal {
    height: 100%;
    width: 100%;
    overflow: auto;
    
    /* padding-top: 30px; */
    /* border-radius: 40px; */
    /* display: flex; */
}

.pic-profile-personal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pic-profile1 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    border: 3px solid #C7C7C7;
    background-image: url('/img/logo1.png'); /* Replace with the path to your image */
    background-size: cover; 
    background-color: #fff;

}

#picture__input,
#picture__input1 {
    display: none;
}

.picture,
.picture1 {
    /* width: 400px; */
    aspect-ratio: 16/9;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9E9E9E;
    border: 1px solid black;
    border-radius: 32px;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img,
.picture__img1 {
    max-width: 100%;
}

/* In your CSS file or style block */
.img_pic,
.img_pic1 {
    /* Other styles for img_pic */
}

.new {
    display: none;
}

.arrow_left {
    position: absolute;
    left: 25px;
}

.head-title_menu {
    width: 100%;
    padding: 0 5%;
    display: flex;
    height: 10dvh;
    justify-content: flex-start;
    align-items: center;

}
label#customPictureLabelcar {
    width: 100%;
    height: 200px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid;
}
img.customPictureImgcar {
    width: 100%;
    height: 100%;
}
.inputca {
    opacity: 0%;
    position: absolute;
    z-index: -1;

}

.driverLic ,.profileText,.callcenter,.profile2{
    /* position: absolute;
    left: 36px;
    top: 96px; */
    max-width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: ce;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

.profileText {
    /* position: absolute;
    left: 15px;
    top: 95px; */
}

.callcenter {
    /* position: absolute;
    top: 95px;
    left: 25px; */
}

.profile2 {
    /* position: absolute;
    top: 95px;
    left: 25px; */
}

.error {
    display: flex;
    color: #d93025;
    align-items: center;
    margin-bottom: 6px;
    display: none;
}


.invalid .error{
    display: flex;
}
.load-icon.show {
    display: block;
    
}

.load-icon.show {
    display: block;
    
}
/* Load Icon */
.load-icon {
	width: 100px;
	height: 20px;
    z-index: 10;
}
.load-icon span {
	position: absolute;
	display: inline-block;
    background: rgba(138, 47, 255, 1);
	width: 20%;
	height: 100%;
	border-radius: 100px;
}
.load-icon span:nth-of-type(1) {
	left: 0;
}
.load-icon span:nth-of-type(2) {
	left: 40%;
}
.load-icon span:nth-of-type(3) {
	right: 0;
}

/* Animation */
.load-icon span {
	animation-name: loading;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}
.load-icon span:nth-of-type(2) {
	animation-delay: .2s;
}
.load-icon span:nth-of-type(3) {
	animation-delay: .4s;
}

/* Keyframes */
@keyframes loading {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

/* This isn't needed, just styling pen. */
body {
  font-family: sans-serif;
  background: #ddd;
}
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.blur-background {
    filter: blur(0.8px);
     /* Adjust the blur intensity as needed */
}

.header-img  {
    width: 100%;
    height: 100%;
}

.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
/* .header-scan
{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 18px;
    object-fit: cover;

    flex-shrink: 0;
} */

.overlay_cardetail{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: #ffffff
}
.overlay_cardetail.open
{
    display: flex;
    flex-direction: column;
}