@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}

.main_login {
    width: 100%;
    height: 100dvh;

}

.container-logo {
    width: auto;
    margin: 0 auto;
}

.bt-select {
    width: 100%;
    height: 13dvh;
    padding-bottom: 15px;
}

.container-personal_record {
    width: 100%;
    height: 56dvh;
    background-color: rgb(255, 255, 255);
}

.bt-register {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.bt-con-select {
    width: 80%;
    height: 7dvh;
    background-color: #7C00A8;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt-con-select p {
    color: #ffffff;
}

.overlay_login1 {
    width: 100%;
    height: 100%;
    bottom: 0vh;
    left: 0;
    top: 0;
    background-color: #EDEEF2;
}


.login-icon {
    padding-top: 50px;
}
/* .padding-24 {
    padding-top: 24px;
}
.padding-10 {
    padding-top: 10px;
} */


.field input {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 15px;
    box-shadow:
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.padding-horizontal--48 {
    padding: 22px;
    overflow-y: scroll;
    padding: 0 15px 0 15px ;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.reset-pass a {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    display: block;
}
a {
    color: #0094FF;
}

.brtop {
    margin-bottom: 4px;
    display:inline-block;
}

.login-icon {
    width: 40%;
    border-radius: 40%;
    height: auto;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.overlay_menu , .overlay_register, .overlay_pass {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    top: 0;
    background-color:#ffffff
}

.overlay_menu.open , .overlay_register.open{
    display: flex;
    flex-direction: column;
    
}

.overlay_pass.open{
    display: flex;
    flex-direction: column;
}

.container-profile{
    width: 100%;
    height: 20dvh;
    background: rgb(124,0,168);
    background: linear-gradient(180deg, rgba(124, 0, 168, 0.92) 64%, rgba(75, 0, 187, 1) 98%, rgba(39, 2, 186, 1) 100%);
    display: flex;
    justify-content: center;
    border-radius: 0 0 30px 30px;
}
.detall-profile{
    background-color: #D2AFFF;
    height: 90%;
    width: 90%;
    border-radius: 40px;
    display: flex;
}
.container-menu{
    height: 65dvh;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    justify-content: space-between;
}
.menu-item {
    background-color: #EDEDED;
    border-radius: 17px;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    color: #8A2FFF;
    width: 147px;
    height: 127px;
  }

.menu-all-font {
    font-weight: bold;
    color: rgba(138, 47, 255, 1);
    font-size: 20px;
    
}
.menu-all-font-2 {
    font-weight: bold;
    color: rgba(138, 47, 255, 1);
    font-size: 18px;
    
}
.menu-all-font-3 {
    font-weight: bold;
    color: rgba(138, 47, 255, 1);
    font-size: 14px;
    
}
.menu-pic-size {
    height: 60px;
    width: 60px;
}
.pic-profile-menu {
width: 40%;
height: 100%;
background-color: #D2AFFF;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.detall-profile-pf{
    width: 60%;
    height: 100%;
    padding: 15px 5px;
    overflow: scroll;
}
.pic-profile{
    width: 100px; 
    height: 100px; 
    background-color: aqua;
    border-radius: 50px;
    position: absolute;
    top: 10px;

}
.container_menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    background-color: #fafafa;
}

#overlay {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: left 0.3s ease; /* Add transition for smooth animation */
    z-index: 1;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    width: 80%;
    height: 100%;
    border-radius: 0 25px 25px 0;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  