
.box {
    background: rgb(124,0,168);
    background: linear-gradient(180deg, rgba(124, 0, 168, 0.92) 64%, rgba(75, 0, 187, 1) 98%, rgba(39, 2, 186, 1) 100%);
    border-radius: 40px;
    padding: 15px;
    margin-top: -10%;
    margin-left: -2%;
    width: 405px;
    height: 277px;
    }

